{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" >
    {% block title %}
    {% endblock title %}
    <style>
      .fa:hover {
    opacity: 0.7;
}

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bd-navbar fixed-top">
        <a class="navbar-brand" href="{% url 'main:home' %}">MovieWovie&nbsp;<i class="fa fa-star-half-o fa-lg" aria-hidden="true"></i><i class="fa fa-star-half-o fa-2x" aria-hidden="true"></i><i class="fa fa-star-half-o fa-lg" aria-hidden="true"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto  ">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'main:home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}                    
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'main:add_movies' %}">Add Movies</a>
                </li>
              {% endif %}
            {% endif %}
            
            {% if user.is_authenticated %}
            
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Hello, {{ user.username }}!
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">My Profile</a>
                  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                </div>
              </li>
            
            {% else %}  
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
            </li>
            {% endif %}
            
          </ul>
          <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'main:home' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search" name="title">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>





    {% block content %}
    {% endblock content %}
    
    <br><br><br><br><br>
    <div class="text-white text-center">
      <p>
        Developed by:<h2>__Sarthak Bhutani__ </h2><small><i class="fa fa-copyright" aria-hidden="true"></i>&nbsp;2020</small></p>
        <p>
          <a href="https://www.linkedin.com/in/sarthak-bhutani-802a7114b/" class="text-white"><i class="fa fa-linkedin-square fa-2x mx-2" aria-hidden="true"></i></a>
          <a href="https://twitter.com/sarthakbhutani6" class="text-white"><i class="fa fa-twitter fa-2x mx-2" aria-hidden="true"></i></a>          
          <a href="https://www.instagram.com/mausambhutani_official/" class="text-white"><i class="fa fa-instagram fa-2x mx-2 mb-5" aria-hidden="true"></i></a>
          <a href="https://github.com/mausambhutaniofficial" class="text-white"><i class="fa fa-github fa-2x mx-2 mb-5" aria-hidden="true"></i></a>
        </p></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>$(document).ready(function() {

      const $valueSpan = $('.valueSpan');
      const $value = $('#slider11');
      $valueSpan.html($value.val());
      $value.on('input change', () => {
    
        $valueSpan.html($value.val());
      });
    });</script>
  
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>