{% extends 'main/base.html' %}
{% block title %}
    <title>Movie Details</title>
{% endblock title %}

{% block content %}
<div class="container">
    <br>
    <br><br><br><br><br>
    <div class="card">
        
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ movie.image }}" class="img-fluid">                    
                </div>            
                <div class="col-md-8">
                    <h3 class=" display-4 mt-3">{{ movie.name }}</h3>
                    <hr>
                    <p>{{ movie.description }}</p>
                    <hr>
                    <h5>Directed By : {{ movie.director }}</h5>
                    <h5>Lead Cast : {{ movie.cast }}</h5>
                    <h5>Average Rating : {{ average }}/10</h5>

                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'main:edit_movies' movie.id %}" class="btn btn-warning">Edit Movie</a>
                            <a href="{% url 'main:delete_movies' movie.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to Delete?')">Delete Movie</a>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <br>


<div class="card">
    <div class="card-body">
        <h3 class="text-center">Watch Trailer!</h3>
        <iframe width="100%" height="400" src="{{ movie.trailer_link }}" allowfullscreen>
        </iframe>
    </div>
</div>
<br>

    <div class="card">
        <div class="card-body">
            <h3 class="text-center">Give A Review To This Movie!</h3>
            <form action="{% url 'main:add_review' movie.id %}" method="POST">                
                {% csrf_token %}
                <label for="comment">Review</label>
                <textarea name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
                <br>
                <label for="rating">Rating</label>
                <br>
                    &nbsp;&nbsp;
                    <i class="fa fa-thumbs-down i-color fa-2x"  aria-hidden="true"></i>
                    <input type="range" name="rating" id="rangeInput" min="0" max="10" value="5" step="0.5" oninput="amount.value = rangeInput.value">
                    <i class="fa fa-thumbs-up i-color fa-2x" aria-hidden="true"></i>
                    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<output name="amount" id="amount" for="rangeInput">5</output></h3>                
                <br>
                <br>
                <input type="submit" class="btn btn-warning" value="Add Review">
            </form>
        </div>
    </div>
<br>






{% if reviews %}
    <div class="card">
        <div class="card-body">
            <h4 class="text-center">Reviews Posted</h4>
                {% for review in reviews %}
                    <div class="card">
                        <div class="card-body" style="background-color:#e3daf7;">
                            <div class="row">
                                <div class="col-md-3">
                                    <h5 >{{ review.user.username }}</h5>
                                    <hr>
                                    <h5>{{ review.rating }}</h5>                                    
                                </div>
                                
                                <div class="col-md-9">
                                    <i>{{ review.comment }}</i>

                                    <div class="text-right">
                                        <br> 
                                        {% if request.user == review.user %}                                    
                                        <a href="{% url 'main:edit_review' movie.id review.id %}">Edit Review</a>&nbsp;|                                   
                                        <a href="{% url 'main:delete_review' movie.id review.id %}" onclick="return confirm('Are you sure you want to Delete?')";>Delete Review</a>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br>    
                {% endfor %}
            
        </div>
    </div>
    {% endif %}
    {% block footer %}
    {% endblock footer %}
</div>
    
    
    
{% endblock content %}