{% extends 'main/base.html' %}
{% block title %}
    <title>MovieWovie</title>
{% endblock title %}

{% block content %}

<div class="container">
    
    <div class="card mt-5 bd-card">
        
        <div class="card-body">
            
            <div class="row">
                {% for movie in movies %}
                    <div class="col-md-4">
                        <br><br><br>
                        <div class="card mb-5">                        
                            
                            <div class="card-body">
                                
                                <div class="text-center">
                                    <a href="{% url 'main:detail' movie.id %}"><img src="{{ movie.image }}" class="img-fluid" width="427" height="600"></a>
                                    <a style="color: black;" href="{% url 'main:detail' movie.id %}"><h3 class="mt-2">{{ movie.name }}</h3></a>
                                    <hr>
                                    <div class="text-right">
                                        <i>{{ movie.release_date }}</i>
                                    </div>
                                </div>
                                <a href="{% url 'main:detail' movie.id %}">Explore</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
</div>

{% endblock content %}